@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
    background-color: #2b2a33;
    overflow-x: hidden;
}

li {
    list-style-type: none;
}

a {
    font-size: 18px;
    text-decoration: none;
}

h2 {
    font-weight: 900;
    font-size: 32px;
    padding-left: 8px;
}

.click {
    cursor: pointer;
}

.green {
    color: #4aa584;
}

.row {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/*

    NAV

*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
    height: 100px;
    letter-spacing: 0.5px;
}

.nav__logo {
    height: 44px;
    width: 44px;
    filter: invert(100%);
}

.nav__logo--wrapper {
    display: flex;
    align-items: center;
}

.nav__link--list {
    display: flex;
    align-items: center;
}

.nav__link {
    margin: 0 24px;
}

.nav__link:last-child {
    margin: 0 0 0 44px;
}

.nav__link--anchor {
    font-size: 18px;
    color: #e8eaed;
    font-weight: 600;
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect--black:after {
    background-color: #e8eaed;
}

.link__hover-effect:hover:after {
    left: 0;
    width: 100%;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    right: 0;
    width: 0;
    transition: all 300ms ease;
}

.nav__link--btn {
    font-size: 18px;
    font-weight: 600;
    padding: 14px 44px;
    border-radius: 999px;
    border: 1px solid #42414d;
    color: #e8eaed;
    background-color: #2b2a33;
    box-shadow: 6px 6px 18px 0 rgb(0, 0, 0, 0.3);
    transition: all 300ms ease;
}

.btn__hover-effect--color:hover {
    background-color: #42414d;
    border: 1px solid #2b2a33;
    color: #ffffff;
}

/*

    HEADER

*/

.header {
    padding: 24px 96px 0 96px;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.title {
    font-size: 42px;
    letter-spacing: 2px;
    font-weight: 700;
}

.header__search--wrapper {
    margin: 40px 0 0 40px;
    box-shadow: 6px 6px 18px 0 rgb(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__search {
    padding: 14px 32px 14px 32px;
    width: 580px;
    font-size: 26px;
    color: #8a8a8a;
    background-color: #2b2a33;
    border-radius: 55px;
    position: relative;
    border: solid 1px #42414d;
    transition: all 300ms ease;
}

.header__search:hover {
    border: solid 1px #2b2a33;
    background-color: #42414d;
}

.magnifying-glass {
    filter: invert(98%) sepia(6%) saturate(494%) hue-rotate(177deg) brightness(96%) contrast(94%);
    transition: all 300ms ease;
    height: 40px;
    width: 40px;
}

#header__search:hover .magnifying-glass {
    filter: invert(60%) sepia(47%) saturate(428%) hue-rotate(107deg) brightness(87%) contrast(85%);
}

.search-btn {
    right:74px;
    position: relative;
    height: 40px;
    width: 40px;
    border: none;
    background-color: transparent;
}

.movie-collage {
    z-index: -999;
    position: absolute;
    opacity: 0.10;
    height: 100%;
    width: 100%;
    max-height: 100vh;
    max-width: 100vw;
}

/*

    BROWSE MOVIES

*/

#browse {
    margin-top: 26px;
}

.decor {
    background-color: #2b2a33;
    min-height: 650px;
}

.browse__title--wrapper {
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
}

.browse__title {
    color: #e8eaed;
}

#filter {
    font-weight: 600;
    color: #e8eaed;
    background-color: #2b2a33;
    border: 1px solid #42414d;
    border-radius: 12px;
    padding: 0 16px;
    transition: all 300ms ease;
}

#filter:hover {
    border: 1px solid #2b2a33;
    background-color: #42414d;
}

.movie__list {
    padding: 24px 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.movie__wrapper {
    height: 100%;
    max-height: 400px;
    max-width: 260px;
    width: 100%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 300ms ease;
    position: relative;
    overflow: hidden;
}

.movie__wrapper:before {
    content: "";
    position: absolute;
    background-color: #2b2a33;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 300ms ease;
    z-index: 2;
}

.movie {
    max-width: calc(25%);
    width: 100%;
    max-height: 400px;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 66px 0;
}

.movie:hover .movie__wrapper:before {
    opacity: 0.6;
    box-shadow: inset 6px 6px 3px 0 0px rgb(0, 0, 0, 0.9);
}

.movie:hover .movie__img {
    transform: scale(1.05);
    filter: blur(3px);
}

.movie:hover .movie__info {
    opacity: 1;
    transform: translateX(0%)

}

.movie__img {
    height: 100%;
    max-height: 480px;
    transition: all 300ms ease;
}

.movie__title {
    font-size: 22px;
}

.movie__info {
    color: #e8eaed;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 18px;
    position: absolute;
    opacity: 0;
    z-index: 3;
    justify-content: space-between;
    transform: translateX(-100%);
    transition: transform 450ms, opacity 300ms;

}

.watch__btn {
    height: 48px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    border-radius: 4px;
    background-color: #4aa584;
    transition: all 300ms ease;
}

.watch__btn:hover {
    background-color: #2e6853;
    color: #e8eaed;
}

.loading {
    background-color: #4aa584;
    height: 4px;
    width: 100%;
    display: none;
}

.loading-animation {
    background-color: #2e6853;
    width: calc(50%);
    height: 4px;
    animation: left-to-right 2500ms infinite;
    display: none;
}

.loading__visible {
    display: flex;
}

@keyframes left-to-right {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(220%);
    }
}


/*

    SCREEN SIZES

*/

@media (max-width: 1200px) {
    .movie {
        max-width: calc(31%);
    }

    .movie__list {
        justify-content: center;
    }
}

@media (max-width: 880px) {
    .movie {
        max-width: calc(50%);
    }

    .movie__list {
        padding: 24px 48px 0 48px;
        justify-content: center;
    }
}

@media (max-width: 660px) {
    .movie {
        max-width: calc(78%);
    }
}