@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
    background-color: #2b2a33;
    overflow-x: hidden;
}

li {
    list-style-type: none;
}

a {
    font-size: 18px;
    text-decoration: none;
}

h2 {
    font-weight: 900;
    font-size: 32px;
    padding-left: 8px;
}

.click {
    cursor: pointer;
}

.green {
    color: #4aa584;
}

.row {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/*

    NAV

*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
    height: 100px;
    letter-spacing: 0.5px;
}

.nav__logo {
    height: 44px;
    width: 44px;
    filter: invert(100%);
}

.nav__logo--wrapper {
    display: flex;
    align-items: center;
}

.nav__link--list {
    display: flex;
    align-items: center;
}

.nav__link {
    margin: 0 24px;
}

.nav__link:last-child {
    margin: 0 0 0 44px;
}

.nav__link--anchor {
    font-size: 18px;
    color: #e8eaed;
    font-weight: 600;
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect--black:after {
    background-color: #e8eaed;
}

.link__hover-effect:hover:after {
    left: 0;
    width: 100%;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    right: 0;
    width: 0;
    transition: all 300ms ease;
}

.nav__link--btn {
    font-size: 18px;
    font-weight: 600;
    padding: 14px 44px;
    border-radius: 999px;
    border: 1px solid #42414d;
    color: #e8eaed;
    background-color: #2b2a33;
    box-shadow: 6px 6px 18px 0 rgb(0, 0, 0, 0.3);
    transition: all 300ms ease;
}

.btn__hover-effect--color:hover {
    background-color: #42414d;
    border: 1px solid #2b2a33;
    color: #ffffff;
}

/*

    HEADER

*/

.header {
    padding: 24px 96px 0 96px;
}

.header__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.title {
    font-size: 48px;
    letter-spacing: 2px;
    font-weight: 700;
}

.sub__title {
    margin-top: 32px;
    font-size: 28px;
    color: #e8eaed;
    letter-spacing: 2px;
    font-weight: 800;
}

.header__search--wrapper {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__search {
    margin-right: 22px;
    padding: 21px 36px 20px 24px;
    width: 560px;
    font-size: 26px;
    border-radius: 24px;
    box-shadow: 6px 6px 18px 0 rgb(0, 0, 0, 0.3);
    color: #8a8a8a;
    background-color: #2b2a33;
    border: solid 1px #42414d;
    transition: all 300ms ease;
}

.header__search:hover {
    border: solid 1px #2b2a33;
    background-color: #42414d;
}

.magnifying-glass {
    height: 40px;
    width: 40px;
    filter: invert(95%) sepia(11%) saturate(46%) hue-rotate(177deg) brightness(97%) contrast(93%);
}

.search-btn {
    padding: 16px 60px;
    border-radius: 24px;
    background-color: #2b2a33;
    border: solid 1px #42414d;
    box-shadow: 6px 6px 18px 0 rgb(0, 0, 0, 0.3);
    transition: all 300ms ease;
}

.search-btn:hover {
    background-color: #42414d;
    border: solid 1px #2b2a33;
}

.search-btn:hover .magnifying-glass {
    
}

.landing-img {
    margin-top: 36px;
}



.menu--open {
    visibility: visible;
}

/*  PHONES */

@media (max-width: 375px) {

    nav {
        display: none;
    }
    
    .header {
        padding: 100px 24px 0 24px;
    }
    .title {
        font-size: 36px;
        letter-spacing: 3px;
    }
    .sub__title {
        margin-top: 36px;
        font-size: 22px;
    }

    .header__search--wrapper {
        position: relative;
    }
    .header__search {
        padding: 14px 60px 14px 20px;
        width: 330px;
        margin: 0;
        border-radius: 36px;
    }
    .search-btn {
        position: absolute;
        right: 8px;
        border: none;
        box-shadow: none;
        padding: 12px;
    }

    .magnifying-glass {
        height: 24px;
        width: 24px;
    }

    .landing-img {
        height: 200px;
    }
}